@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    Plantlife is a British conservation charity working nationally and internationally to save threatened wild flowers, plants and fungi . We own nearly 4,500 acres of nature reserve across England, Scotland and Wales. We have 11,000 members and supporters and HRH The Prince of Wales is our Patron.

    Our team of dedicated conservation experts work with landowners, businesses, conservation organisations, community groups and governments, pushing boundaries to save our rarest flora and ensure familiar flowers and plants continue to thrive.

    Plantlife was instrumental in the creation of the Global Strategy for Plant Conservation and we are a member of Planta Europa, a pan-European network of over 60 wild plant conservation organisations.

    Our HQ is in Salisbury, we have field staff across Britain and national offices in Wales and Scotland.

    The future of wild flowers isn't cut and dried. Join us.
</p>
